<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>straat</param-name>
    <param-value>KoninginFridaStraat</param-value>
  </context-param>
  <context-param>
    <param-name>huisNr</param-name>
    <param-value>13</param-value>
  </context-param>
  <context-param>
    <param-name>postCode</param-name>
    <param-value>9998</param-value>
  </context-param>
  <context-param>
    <param-name>gemeente</param-name>
    <param-value>QueendomFrida</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>